<footer class="footer" *ngIf="getCount()">
  <span class="todo-count"><strong>{{ getRemainingCount() }}</strong> {{ getRemainingCount() == 1 ? 'item' : 'items' }} left</span>
  <button class="clear-completed" *ngIf="hasCompleted()" (click)="removeCompleted()">Завершить отмеченные</button>
</footer>